<h1>Contacts</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |contact|}}
            <tr>
                <th>{{contact.id}}</th>
                <td>{{contact.InputName}}</td>
                <td><a href="mailto:{{contact.InputEmailFirst}}"> {{contact.InputEmailFirst}}</a></td>
                <td>{{contact.InputMessage}}</td>
                <td>
                    {{#link-to 'admin.contacts.edit' contact.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                    <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
                </td>
            </tr>
        {{/each}}

    </tbody>
</table>